
.button{
	text-decoration:none;
	color: #31135E;
	font-size:1rem;
	font-weight:600;
	line-height:1.25rem;
	padding: 0.5rem 1rem ;
	border: 1px solid #31135E;
	border-radius:0.25rem;
	background:none;
	transition: border 0.15s;
	transition-timing-function: ease-in-out;
}
.button:hover{
	border:2px solid #31135E;
}